.table {
  width: 50%;
  margin-inline: auto;
  margin-block: 2rem;
}

.table__heading {
  background-color: #333;
  color: #fff;
}

th,
td {
  padding: 1em;
  border: 1px solid black;
}

.red {
  color: red;
}
.green {
  color: green;
}
